.headerReport {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 7px;
  border-radius: 30px;
  background: var(--white-color);

  /* shadow - mobile */
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
}
.nameReport {
  padding: 12px 15px 17px 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.itemReport {
  margin: 0;
  color: var(--text-color-main);
}
.nameReport:not(:last-child) {
  border-right: 1px solid #e0e5eb;
}
.dataReport.expenses {
  color: var(--red-color);
}
.dataReport.incomes {
  color: var(--green-color);
}

@media screen and (min-width: 768px) {
  .headerReport {
    border-radius: 30px;
    margin-bottom: 30px;
  }
  .nameReport {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
  }
  .itemReport {
    margin-right: 15px;
  }
}
