
.field{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 30px;
    width: 282px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.expenses_field:after {
    content: '';
  width: 1px;
  height: 70.5px;
  background: #E0E5EB;
  position: absolute;
  bottom: 7px;
  left: 50%;
  margin-left: -2px;
  }
  .expenses_field{
    text-align: center;
    padding: 0px 8px;
    
}

.income_field{
    text-align: center;
    padding: 0px 8px;
}
.title{
    color: rgba(82, 85, 95, 1);
font-weight: bold;
font-size:14px;
line-height: 16px;
margin: 0;
}
.expenses{
    color: rgba(229, 57, 53, 1);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    margin: 0;
    
}
.income{
    color: rgba(64, 121, 70, 1);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    margin: 0;

}
@media screen and (min-width: 768px) {
    .field{
        justify-content: space-around;
        width: 668px;
        height: 50px;
        padding-left: 123px;
        padding-right: 123px;
        border-radius: 60px;
    }
    .expenses_field:after {
      height: 36px;
    }
      .expenses_field{
        display: flex;        
    }
    
    .income_field{
        display: flex;
    }
    .title{
    margin-right: 15px;    
    }
}
@media screen and (min-width: 1280px) {
    .field{
        width: 1060px;
        padding-left: 319px;
        padding-right: 319px;
        border-radius: 30px;
    }
}








