.test {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  background-color: rgb(228, 39, 39);

  .text {
    color: rgb(83, 199, 60);
  }

  @media screen and (min-width: 1200px) {
    .text {
      color: rgb(228, 39, 39);
    }

    width: 1000px;
    background-color: rgb(83, 199, 60);
  }
}
