.table {
  border-collapse: collapse;
  width: 605px;
}

.tbody {
  border-left: 2px solid #f5f6fb;
  border-right: 2px solid #f5f6fb;
  background-color: #ffffff;
}

.borderLeft {
  border-top-left-radius: 20px;
  padding-left: 21px;
}

.borderRight {
  border-top-right-radius: 20px;
  padding-right: 26px;
}

.thead th {
  background-color: #f5f6fb;
  height: 38px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  text-transform: uppercase;
  text-align: left;
}

.thead th:nth-child(4n) {
  text-align: center;
}

.tr {
  border-bottom: 2px solid #f5f6fb;
  height: 38px;
  padding-left: 21px;
  padding-right: 26px;
  color: #52555f;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
}

.tr td:first-child {
  padding-left: 21px;
}

.tr td:last-child {
  padding-right: 26px;
  text-align: end;
}

.tr td:nth-child(3n),
.thead th:nth-child(3n) {
  text-align: center;
}

.deleteBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.incomeTrsn {
  color: #407946;
  font-weight: 700;
  text-align: right;
}

.expenseTrsn {
  color: #e7192e;
  font-weight: 700;
  text-align: right;
}

.simpleBar {
  height: 344px;
}

@media screen and (min-width: 1280px) {
  .table {
    width: 760px;
    margin-right: 30px;
  }

  .tr td:last-child {
    /* padding-right: 53px; */
  }

  .simpleBar {
    width: 760px;
  }
}
