.button {
  width: 125px;
  height: 44px;
  padding: 15px 34px;
  border: none;
  color: #52555f;
  background-color: #f5f6fb;
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
  border-radius: 16px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  display: flex;
  justify-content: center;

  outline: none;

  border-radius: 16px;
  border: none;

  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ff751d;
  color: #ffffff;
  filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
  transition: 0.5s linear;
}
