$main-font-size: 12px;
$main-font-weight: 400;
$main-line-height: 1.17;
$primary-text-color: rgba(82, 85, 95, 0.7);
$accent-color: #ff751d;

.form {
  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    margin-right: 111px;
  }
  @media screen and(min-width:1280px) {
    margin-right: 205px;
  }
}
.label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;

  @media screen and(min-width:768px) {
    margin-right: 21px;
    margin-bottom: 0px;
  }
}
.form_field {
  position: relative;
  display: inline-block;
}
.input {
  z-index: 999;
  width: 125px;
  height: 44px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 47px;
  background-color: inherit;
  border: 2px solid #ffffff;
  border-radius: 22px 0px 0px 22px;

  font-weight: 700;
  font-size: $main-font-size;
  line-height: $main-line-height;

  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::placeholder {
    font-weight: 700;
    font-size: $main-font-size;
    line-height: $main-line-height;

    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline-color: $accent-color;
  }

  @media screen and(min-width:768px) {
    border-radius: 16px;
    margin-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 47px;
  }
}
.input__disable {
  @extend .input;
  pointer-events: none;
}
.input_text {
  position: absolute;
  top: 50%;
  right: 17px;
  display: inline-block;
  transform: translateY(-50%);
  font-weight: 700;
  font-size: $main-font-size;
  line-height: $main-line-height;
  letter-spacing: 0.02em;
  color: #000000;
  @media screen and(min-width:768px) {
    right: 35px;
  }
}

.button {
  z-index: 999;
  width: 125px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #ffffff;
  border-left: none;
  border-radius: 0px 22px 22px 0px;

  font-size: $main-font-size;
  line-height: $main-line-height;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  background-color: inherit;
  color: $primary-text-color;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: $accent-color;
    outline-color: $accent-color;
    border-color: $accent-color;
  }

  @media screen and(min-width:768px) {
    border-left: 2px solid #ffffff;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.button__disable {
  @extend .button;
  pointer-events: none;
}
