.inputBalance {
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 16px;
  width: 125px;
  height: 44px;
  padding: 12px 20px;
  letter-spacing: 0.02em;

  align-items: center;
  font-weight: bold;
  // font-size: 12px;
  // line-height: 14px;
  color: black;
}

.inputSubmit {
  @extend .inputBalance;
  background-color: white;
  text-transform: uppercase;
  color: rgba(82, 85, 95, 0.7);
  margin-left: 15px;
}

.returnToMain {
  letter-spacing: 0.04em;
  align-items: center;
  display: flex;
}
.balance {
  margin-right: 21px;
  text-align: center;
}
.balanceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balanceDetails {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.balanceDetailsBox {
  background: #ffffff;

  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  padding: 15px auto;
  margin: 30px;
}

.balanceBorder {
  width: 0px;
  height: 36px;
  left: 384px;
  top: 177px;

  border: 1px solid #e0e5eb;
  margin: 0 20px;
}
.expensesState {
  color: #e53935;
  margin-left: 15px;
}

.balanceState {
  display: inline-flex;
  align-items: center;
}
.revenueState {
  color: #407946;
  margin-left: 15px;
}

.statesOfBalance {
  color: #52555f;
}

.expensesBg {
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  height: 358px;

  @media screen and (min-width: 1200px) {
    // height: 358px;
    // left: 110px;
    // top: 250px;

    // width: 1000px;
  }
}
.item {
  text-align: center;

  flex-basis: calc((100% - 13px * 6) / 6);
  margin-top: 13px;
  margin-left: 13px;
}
.picBox {
  position: relative;
  margin: 5px 0 5.44px 0;
  background: #f5f6fb;
  border-radius: 20px;
}

.itemBg {
  position: absolute;
  left: 0;
  bottom: 0;
  fill: #f5f6fb;
  z-index: -1;
}

.picBox:hover {
  background-color: #ffdac0;
  fill: #ff751d;
}

.expBorder {
  @media screen and (max-width: 768px) {
    width: 0px;
    height: 282px;
    border: 1px solid #e0e5eb;
    transform: rotate(-90deg);
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.expensesCategories {
  // grid: 200px 100px / auto-flow 30%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -13px;
  margin-left: -13px;
  justify-content: center;
  margin: 20px 21px 30px 32px;
  font-size: 12px;
  line-height: 14px;
}

.headerReport {
  margin-top: 40px;
}

.returnToMainBtn {
  fill: #ff751d;
  margin-right: 15px;
}

.currentState {
  text-align: center;
  padding-top: 20px;
}

.currentBlock {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

//diagram

.expensesDiargBg {
  height: 422px;
  background: #ffffff;

  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;

  margin: 30px auto 74px;
  padding: 20px 151px;
}

.currentTransactionType {
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  font-weight: bold;
  color: black;

  font-size: 14px;
  line-height: 16px;
}
