.pickerWrapper {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    background-color: #fff;
    z-index: 2;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #f5f6fb;
}

@media screen and (min-width: 768px) {
    .pickerWrapper {
        position: absolute;
        /* margin: 10px 0px; */
        top: 65%;
        left: 50%;
        width: 40%;
        background-color: #fff;
        z-index: 2;
        border-radius: 20px;
        text-align: center;
    }
}
@media screen and (min-width: 1240px) {
    .pickerWrapper {
        position: absolute;
        background-color: white;
        left: 2%;
        top: 15%;
        width: auto;
    }
}
