$main-font-size: 12px;
$main-line-height: 1.17;
$primary-text-color: rgba(82, 85, 95, 0.7);

.container {
  position: relative;
  background-color: #f5f6fb;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $primary-text-color;
  margin-bottom: 40px;
  margin-top: 30px;
  z-index: 5;
  @media screen and(min-width:768px) {
    max-width: 634px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    padding-left: 30px;
    margin-left: auto;
  }
  @media screen and(min-width:1280px) {
    max-width: 728px;
  }
}
