.Container {
    margin: 0 auto;
    /* padding: 0 10px; */
    width: 100%;
}
.BottomImg {
    /* position:fixed; */
    /* z-index: -1; */
    /* width: 100vw; */
    height: 800px;
    background-image: url('../../images/partcab.svg'),
        url('../../images/bottomcab.svg'), url('../../images/rectangle.svg');
    background-repeat: no-repeat;
    background-size: 55px, 89px, 100%;
    background-position: top 104px right, left 35px bottom, top;
}

/* контейнер для mobile */
@media screen and (min-width: 320px) {
    .Container {
        width: 320px;
        /* width: 282px; */
    }
}

/* контейнер для tablet */
@media screen and (min-width: 768px) {
    .Container {
        width: 668px;
    }
}

/* контейнер для desktop */
@media screen and (min-width: 1280px) {
    .Container {
        width: 1060px;
    }
}
