.field {
  position: relative;
  width: 380px;
  height: 194px;

  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  text-align: center;
  background-color: #ffffff;
}
.text {
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: #52555f;
}
.btn {
  margin-right: 15px;
}
.sureCloseBtn {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  color: #52555f;
}

.sureCloseBtn:hover,
.sureCloseBtn:focus {
  color: rgba(255, 117, 29, 1);
}
