// .overlay {
//   position: absolute;
//   // top: 0;
//   // left: 0;
//   // width: 100vw;
//   // height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // z-index: 1200;
// }

.modal {
  position: relative;
  top: -24px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  width: 282px;
  //   max-width: calc(100vw - 38px);
  padding: 41px 25px 31px 25px;
  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  border-radius: 30px;

  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 400;

  @media screen and(min-width:768px) and(max-width:1279.89px) {
    visibility: hidden;
  }

  @media screen and(min-width:1280px) {
    margin-left: 0;
    margin-right: 0;
    left: 104px;
  }
}

.modal:before,
.modal:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 68px;
  border: 16px solid transparent;
  border-bottom-color: #152b59;

  @media screen and(min-width:1280px) {
    left: 46px;
  }
}

.modal:after {
  left: 69px;
  border: 15px solid transparent;
  border-bottom-color: #152b59;

  @media screen and(min-width:1280px) {
    left: 47px;
  }
}
.text_first {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.43;
}
.text_second {
  margin-top: 0;
  font-size: 12px;
  line-height: 1.33;
}
