// colors
$accent-color: #ff751d;
$light-accent-color: #ffdac0;
$logo-transparent: #fb7c2f33;

$black-color: #000000;
$white-color: #ffffff;

$light-grey-color: #f6f7fb;
$dark-grey-color: #52555f;

$main-bg-color: #f5f6fb;
$desktop-bg-color: #f2f5fc;

$active-tab-color: #fefefe;
$tab-color: #fafbfd;

$avatar-bg-color: #f5f6fa;
$logout-icon-color: #cbccd0;
$form-placeholder-color: #a6abb9;

$kapusta-grey-color: #dfe2eb;

$green-color: #407946;
$red-color: #e53935;
$icon-dark-color: #071f41;
$blue-gradient: linear-gradient(#1d346a, #031634);

// fonts
$main-font: 'Roboto', sans-serif;

// display sizes
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

// timing
$timing: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
