.container {
  display: flex;
  height: 44px;
}
.inputSum {
  padding-right: 15px;
  outline: none;
  border: 2px solid #f5f6fb;
  background-color: inherit;
  text-align: end;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
/* Убрать дефолтные стрелочки */
/* Это для браузера Chrome: */
.inputSum[type='number']::-webkit-outer-spin-button,
.inputSum[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Это для браузера Firefox: */
.inputSum[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}
/* Для других */
.inputSum[type='number']::-webkit-inner-spin-button,
.inputSum[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputSum::placeholder {
  color: #c7ccdc;
}
.calcContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f5f6fb;
  border-left: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
@media screen and (max-width: 767px) {
  .container {
    justify-content: center;
  }
  .input {
    width: 125px;
    border-color: #ffffff;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .calcContainer {
    width: 60px;
    border-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .input {
    width: 76px;
    padding-right: 10px;
    border-right: none;
  }
  .calcContainer {
    width: 40px;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .input {
    width: 86px;
  }
}

.positionIcon {
  position: relative;
  padding: 10px 5px;
  width: 60px;
  height: 44px;
  border: 2px solid #fff;
  border-radius: 0 22px 22px 0;
}

@media screen and (min-width: 768px) {
  .positionIcon {
    width: 55%;
  }
}
