.currentPeriod {
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 5px;
}

.currentBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
}

.currentDates {
  // margin: 5px 15px 0;
  font-weight: bold;
  color: black;
  width: 110px;
  text-align: center;

  font-size: 14px;
  line-height: 16px;
}

.currentSection {
  width: 160px;
  @media screen and (max-width: 767.9px) {
    margin: 10px 0 30px;
  }
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover,
.button:focus {
  background-color: #ffdac0;
}
