.form {
  margin-top: 15px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }

  @media screen and (max-width: 1279px) {
    flex-wrap: wrap;
  }
}

.container {
  width: 100%;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.list {
  position: relative;
  // top: 83px;
  padding: 0px;
  margin: 0px;
  display: flex;

  @media screen and (max-width: 767px) {
    padding-top: 81px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 30px;
    padding-left: 30px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 27px;
  }
}

.item {
  margin-right: 15px;
}

.position {
  position: relative;
}

.dirtyText {
  position: absolute;
  top: -16px;
  left: 0px;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: red;
}

.errorText {
  position: absolute;
  bottom: -16px;
  left: 0px;
  width: 130px;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: red;
}
