.nameInput {
  width: 300px;
  height: 38px;
}
.form {
  display: flex;
}
.reactSelect {
  color: green;
  background: red;
}
.fieldPosition {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
  height: 38px;
}
.sumInput {
  border: none;
}
