.input {
  width: 282px;
  height: 44px;
  padding: 0 20px;
  outline: none;
  border: 2px solid #f5f6fb;
  border-top-left-radius: 16px;
  background-color: inherit;
  color: #52555f;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.input::placeholder {
  color: #c7ccdc;
}

@media (max-width: 767px) {
  .input {
    width: 100%;
    margin: 0 auto;
    border-color: #ffffff;
    border-top-right-radius: 16px;
  }
}
@media (min-width: 768px) {
  .input {
    width: 195px;
  }
}
@media (min-width: 1280px) {
  .input {
    width: 287px;
  }
}
