@media screen and (max-width: 767px) {
  .tableHead {
    display: none;
  }
  .scrollWrap {
    display: flex;
    max-height: 150px;
    max-width: 282px;
    overflow-y: scroll;
    position: fixed;
    bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .tableWrap {
    width: 605px;
    height: 400px;
    border: 2px solid var(--bg-color);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }

  .tableHead {
    width: 601px;
    background: var(--bg-color);
    /* border-radius: 20px 20px 0 0; */
    height: 40px;
    font-weight: 700;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--black-color);
    padding: 0 26px 0 21px;
  }

  .tableDate {
    width: 105px;
    text-align: start;
  }

  .tableDesc {
    width: 168px;
    text-align: start;
  }

  .tableCat {
    width: 124px;
    text-align: center;
  }

  .tableSum {
    width: 104px;
    text-align: end;
  }

  .tableDelet {
    width: 57px;
    text-align: end;
  }
  .scrollWrap {
    display: block;
    background-color: var(--white-color);
    height: 360px;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .tableWrap {
    width: 760px;
    margin-top: 60px;
    margin-right: 30px;
    background: white;
  }

  .tableHead {
    width: 760px;
    padding: 0 52px 0 20px;
  }

  .tableDate {
    width: 105px;
  }
  .tableDesc {
    width: 202px;
  }
  .tableCat {
    width: 172px;
  }
  .tableSum {
    width: 130px;
  }
  .tableDelet {
    width: 85px;
  }
}
