.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  backdrop-filter: blur(5px);
}

.modal_content {
  z-index: 1002;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  color: #cf451a;
  margin-bottom: -10px;
  padding: 20px;
  padding-top: 15px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  background-color: #ffffff;
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-right: 200px;
}

.logo {
  // width: 280px;
  // height: auto;
  margin-left: 150px;
  margin-bottom: 30px;
}

.logo > img {
  display: block;
  margin: 0;
  padding: 0;
}

.membersList {
  justify-content: space-around;
  margin: 10px -10px;
  margin-bottom: -10px;
}

.teamLead.member {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  // width: 260px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
}

.teamLead.member:hover {
  box-shadow: none;
  transform: none;
}

.teamLead .photo {
  text-align: center;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.teamLead .photo:hover {
  box-shadow: 5px 5px 10px #ff741d59;
}

.leadInfo .name {
  margin-bottom: 20px;
  font-size: 15px;
  color: rgb(66, 82, 90);
}

.position {
  display: block;
  text-align: left;
  margin-top: -18px;
  margin-left: 20px;
  color: #e9ac3b;
  font-weight: 700;
  font-size: 12px;
  cursor: default;
}

.leadInfo .social {
  justify-content: flex-end;
  margin-right: 20px;
  padding: 0;
}

.leadInfo .link {
  width: 20px;
  margin-top: 10px;
  margin-left: 15px;
}

.leadInfo .link:hover {
  transform: scale(1.2);
}

.membersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member {
  width: 132px;
  margin: 4px;
  margin-bottom: 10px;
  padding: 10px;
  filter: drop-shadow(0 0 2px rgb(197, 197, 197));
  border-radius: 15px;
  background-color: #f5f6fb;
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.member:hover {
  // transform: scale(1.1);
  box-shadow: 5px 5px 10px #ff741d2d;
}

.photo {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 50%;
}

.name {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0 24px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  cursor: default;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 20px;
}

.link {
  display: block;
  width: 20px;
  height: auto;
}

.link:hover {
  transform: scale(1.2);
}

.modalCloseBtn {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  background-color: inherit;
  outline: none;
  border: none;
  margin: 2px;
}

.modalCloseIcon {
  background-image: url(../../../images/transactionIcons/close.svg);
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .modal_content {
    width: 320px;
    padding: 25px 25px;
  }
  .main {
    margin-right: 95px;
  }
  .position {
    margin-top: -10px;
    margin-left: 20px;
    font-size: 9px;
  }
  .leadInfo .name {
    margin-bottom: 13px;

    margin-left: -5px;
    font-size: 12px;
  }
  .leadInfo .link {
    margin-top: 7px;
    // margin-left: 10px;
  }
  .logo {
    margin-left: 20px;
    margin-bottom: 45px;
  }
}

// @media (min-width: 1280px) {
//   .modal_content {
//     width: 750px;
//     padding: 30px 30px;
//   }
//   .logo {
//     width: 220px;
//   }
//   .teamLead .photo {
//     width: 100px;
//     height: 100px;
//   }

//   .leadInfo .name {
//     font-size: 18px;
//   }
//   .position {
//     font-size: 14px;
//   }
//   .main {
//     margin-bottom: 20px;
//   }
//   .membersList {
//     margin: 0 -5px;
//     margin-bottom: -12px;
//   }
//   .member {
//     width: 146px;
//     margin: 5px;
//     margin-bottom: 12px;
//   }
//   .name {
//     font-size: 16px;
//     line-height: 20px;
//     color: #ff751d;
//   }
// }
