.btn{
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
align-items: center;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
color: rgba(82, 85, 95, 1);

background-color:rgba(245, 246, 251, 1);
width: 125px;
height: 44px;
box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
border: 2px solid rgba(245, 246, 251, 1);
border-radius: 16px;
cursor: pointer;
}
.btn:hover,
.btn:focus{
    border: inherit;
    background-color: rgba(255, 117, 29, 1);
    box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
    color: rgba(255, 255, 255, 1);
}

@media only screen
  and (min-width: 768px) {
    .btn{
        box-shadow: none;
        background-color: inherit;
        border: 2px solid rgba(246, 247, 252, 1);        
    }
    .btn:hover,
    .btn:focus{
    border: inherit;
    background-color: rgba(255, 117, 29, 1);
    box-shadow: none;
    color: rgba(255, 255, 255, 1);
}

    
}