.transactionsChangeBlock {
  background: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media screen and (max-width: 767.9px) {
    background: none;
    box-shadow: none;
    // border-radius: none;
  }
}

.sectionsBg {
  // padding-bottom: 74px;
}

.currentState {
  text-align: center;
  padding-top: 20px;
}

.currentTransactionBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.currentTransactionType {
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  font-weight: bold;
  color: black;

  font-size: 14px;
  line-height: 16px;
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover,
.button:focus {
  background-color: #ffdac0;
}
