//header

.returnToMain {
  letter-spacing: 0.04em;
  align-items: center;
  display: flex;
  @media screen and (max-width: 767.9px) {
    display: none;
  }
}
.returnToMainText {
  margin-left: 15px;
  @media screen and (max-width: 767.9px) {
    display: none;
  }
}
.returnBtn {
  @media screen and (max-width: 767.9px) {
    display: none;
  }
}

.returnBtnBig {
  align-self: start;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.balanceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (max-width: 767.9px) {
    flex-direction: column-reverse;
  }
}

.headerReport {
  margin-top: 40px;
  margin-bottom: 30px;

  @media screen and (max-width: 767.9px) {
    margin-top: 15px;
  }
}

#balance {
  @media screen and(max-width:767.9px) {
    border-radius: 22px;
  }
}

//current balance

.form {
  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    margin-right: 80px;
    margin-left: 60px;
  }
}
.label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  text-align: center;

  @media screen and(min-width:768px) {
    margin-right: 21px;
    margin-bottom: 0px;
  }
}
.form_field {
  position: relative;
  display: inline-block;
}
.input {
  z-index: 999;
  width: 125px;
  height: 44px;
  padding: 15px 7px 15px 0;

  background-color: inherit;
  border: 2px solid #ffffff;
  border-radius: 22px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;

  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::placeholder {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;

    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
  }
  @media screen and(max-width:767.9px) {
    width: 183px;
    height: 44px;

    left: 97px;
    top: 215px;

    right: 45px;
  }

  @media screen and(min-width:768px) {
    border-radius: 16px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 47px;
  }
}

.input__disable {
  @extend .input;
  pointer-events: none;
}
.input_text {
  position: absolute;
  top: 50%;
  right: 47px;
  transform: translateY(-50%);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #000000;
  @media screen and(min-width:768px) {
    right: 20px;
  }
}

.button {
  z-index: 999;
  width: 125px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 15px;
  border: 2px solid #ffffff;
  border-left: none;
  border-radius: 0px 22px 22px 0px;

  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  background-color: inherit;
  color: rgba(82, 85, 95, 0.7);

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: #ff751d;
    outline-color: #ff751d;
    border-color: #ff751d;
  }

  @media screen and(min-width:768px) {
    border-left: 2px solid #ffffff;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @media screen and(max-width:1279.9px) {
    display: none;
  }
}
.button__disable {
  @extend .button;
  pointer-events: none;
}

//current balance details

.balanceDetails {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.balanceDetailsBox {
  background: #ffffff;

  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;

  @media screen and (max-width: 767.9px) {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 20px;

    width: 282px;
    height: 85px;
  }
}

.balanceBorder {
  width: 0px;
  height: 70.5px;
  border: 1px solid #e0e5eb;
  margin: 7px 10px 7px 15px;

  @media screen and (min-width: 768px) {
    height: 36px;
  }
}

.expensesState {
  color: #e53935;
  margin-left: 15px;
  letter-spacing: 0.04em;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.revenueState {
  @extend .expensesState;
  color: #407946;
}

.statesOfBalance {
  color: #52555f;
  @media screen and (max-width: 767.9px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 16.41px;
  }
}

//background

.transactionsCategories {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(170, 178, 197, 0.2);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media screen and (max-width: 767.9px) {
    background: none;
    box-shadow: none;
    border-radius: none;
  }
}
.transactionsChangeBlock {
  background: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media screen and (max-width: 767.9px) {
    background: none;
    box-shadow: none;
    border-radius: none;
  }
}

.sectionsBg {
  padding-bottom: 74px;
}

//expenses section

.item {
  text-align: center;

  flex-basis: calc((100% - 13px * 6) / 6);
  margin-top: 13px;
  margin-left: 13px;

  @media screen and (max-width: 767.9px) {
  }
}

.picBox {
  position: relative;
  margin: 5px 0 5.44px 0;
  background: #f5f6fb;
  border-radius: 50px;
  display: inline-block;
  width: fit-content;
}

.itemBg {
  position: absolute;
  left: 0;
  bottom: 0;
  fill: #f5f6fb;
  z-index: -1;
}

.picBox:hover {
  background-color: #ffdac0;
  fill: #ff751d;
}

.expBorder {
  @media screen and (max-width: 767.9px) {
    width: 282px;
    height: 0;
    border: 1px solid #e0e5eb;
    margin: 20px 0;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.expensesCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 21px 30px 32px;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 30px;
}

.currentState {
  text-align: center;
  padding-top: 20px;
}

.currentTransactionBlock {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

//revenue

.revenueCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 30px;
  padding-top: 20px;
}

//diagram

.diargBg {
  height: 422px;
  background: #ffffff;

  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;

  padding: 30px auto;
  padding: 20px 151px;

  @media screen and (max-width: 767.9px) {
    border: none;
    box-shadow: none;
    padding: 0;
  }

  @media screen and (min-width: 1280px) {
    border: none;
    box-shadow: none;
    margin: 20px 0;
    padding: 0;
    height: 382px;
  }
}

.currentTransactionType {
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  font-weight: bold;
  color: black;

  font-size: 14px;
  line-height: 16px;
}

.diagramConfig {
  @media screen and (min-width: 1280px) {
    height: 382px;
  }
}
