.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.04em;
  color: #52555f;
}
.header {
  padding: 10px 0;
  background-color: #ffffff;
}
.user__menu {
  display: flex;
  justify-content: baseline;
  flex-direction: row;
  align-items: center;
  border-left: 1px solid #e0e5eb;
  padding-left: 15px;
}
.user__avatar {
  width: 32px;
  height: 32px;
  background-color: #f5f6fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.symbol {
  color: #000000;
}

.user__avatar img {
  border-radius: 50%;
  cursor: pointer;
}
.user__name {
  padding: 10px 15px;
  margin-right: 15px;
  border-right: 1px solid #e0e5eb;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.04em;
  color: #52555f;
}
.user__name:hover,
.user__name:focus {
  color: #ff751d;
  cursor: pointer;
  transition: color 0.2s linear;
}
.logout {
  border-color: transparent;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}
.logout__text {
  text-decoration-line: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.04em;
  color: #52555f;
}

.logout:hover .logout__text,
.logout:focus .logout__text {
  color: #ff751d;
  transition: color 0.2s linear;
}

.link {
  display: flex;
}

.box {
  display: flex;
  align-items: center;
  align-content: center;
}

// .btn {
//   padding: 0px;
//   border: none;
//   cursor: pointer;
//   background-color: #f5f6fa;
// }

// .btn:not(:last-child) {
//   margin-bottom: 4px;
// }
