.ModalOverlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(112, 110, 109, 0.5);
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.ModalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 194px;
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.CloseModalBtnWrap {
  position: relative;
  margin: 0;
  width: 20px;
  top: -25px;
  right: -245px;
}

.CloseModalBtn {
  width: 12px;
  height: 12px;
  border: transparent;
  // background-image:
  background-repeat: no-repeat;
  background-position: center;
}

.ModalWindowWrap {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.ModalWindowWrap:not(:last-child) {
  margin-bottom: 30px;
}

.btnWrapper:not(:last-child) {
  margin-right: 15px;
}

.ModalText {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #52555f;
}

@media screen and (min-width: 768px) {
  .ModalWindow {
    width: 380px;
  }

  .CloseModalBtnWrap {
    top: -25px;
    right: -335px;
  }

  .ModalWindowWrap:not(:last-child) {
    margin-bottom: 20px;
  }
}
