.calendarWrapper {
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.calendarOverlay {
    margin-right: 10px;
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .calendarWrapper {
        margin-top: 0;
        margin-right: 10px;
        justify-content: start;
    }
}

@media screen and (min-width: 1280px) {
    .calendarWrapper {
        width: 100px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-right: 25px;
    }
}
