.categoryPosition {
  position: absolute;
  box-shadow: 0px 4px 4px 0px #00000040;
  z-index: 1000;
}

.categoryName {
  height: 43px;
  color: var(--text-color-light);
  padding: 13px;
  cursor: pointer;
}

.categoryName:hover {
  background-color: var(--bg-color);
  color: var(--text-color-main);
}

.categoryPosition {
  background-color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .categoryPosition {
    box-shadow: 0px 1px 1px 0px #00000040;
  }

  .categoryPosition {
    top: 43px;
    width: 100%;
    border-radius: 10px;
  }

  .categoryName {
    height: 28px;
    color: var(--text-color-light);
    padding: 8px 13px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .categoryPosition {
    top: 40px;
    width: 170px;
  }
}

@media screen and (min-width: 1280px) {
  .categoryPosition {
    top: 40px;
    width: 187px;
  }
}
