.calc {
  position: absolute;
  margin: 50px -120px;
  width: 170px;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #f5f6fb;
  background: white;
  z-index: 200;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 37px);
  row-gap: 7px;
  justify-items: center;
}
.calcInput {
  height: 30px;
  width: 140px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 12px;
  border: 2px solid #f5f6fb;
}
.calcBtn {
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.158);
  width: -moz-fit-content;
  width: 27px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f5f6fb;
  border-radius: 20px;
  color: grey;
}
.result {
  grid-column: 1/1;
  margin-left: 16px;
  margin-top: 3px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.158);
  background-color: #f5f6fb;
  border-radius: 25px;
  width: 43px;
  height: 20px;
  color: grey;
}
.confirmBtn {
  grid-column: 2/5;
  outline: none;
  border: none;
  background-color: #ff751d;
  border-radius: 50px;
  width: 90px;
  height: 27px;
  font-size: 12px;
  margin-left: auto;
  color: white;
}
@media screen and (min-width: 768px) {
  .calc {
    position: absolute;
    margin: 0px -40px;
    width: 170px;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #f5f6fb;
    background: white;
    z-index: 200;
  }
}
@media screen and (max-width: 760px) {
  .calc {
    position: absolute;
    margin: 0px 10px;
    width: 170px;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #f5f6fb;
    background: white;
    z-index: 2000;
  }
}
