:root {
  --accent-color: #ff751d;
  --second-accent-color: #ffdac0;
  --main-text-color: #52555f;
  --dark-text-color: #000000;
  --spending-text-color: #e7192e;
  --income-text-color: #407946;
  --placeholders-text-color: #a6abb9;
  --second-placeholders-text-color: #c7ccdc;
  --disable-text-color: #52555fb2;
  --main-background-color: #ffffff;
  --second-background-color: #f5f6fb;
  --main-font-size: 12px;
  --main-font-weight: 400;
  --second-font-size: 14px;
}
