.tabsContainer {
  display: flex;
  flex-direction: column-reverse;
}

.tabsList {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--black-color);
  background-color: transparent;
  text-transform: uppercase;
}

.commonTab {
  text-align: center;
  min-width: 159px;
  padding: 10px 0;
  cursor: pointer;
  color: var(--black-color);
  background: var(--bg-color);
}

.commonTab:first-child {
  margin-right: 2px;
}

.commonTab.isSelected {
  background: #ff751d;
  color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .tabsWrap {
    max-width: 282px;
  }
  .addBtn {
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: var(--accent-color-primary);
    cursor: pointer;
    padding: 0;
    position: relative;
    top: -100px;
    left: 50%;
  }
  .tabsList {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .tabsContainer {
    flex-direction: column;
  }
  .commonTab {
    text-align: center;
    min-width: 138px;

    padding: 10px 0;
    cursor: pointer;
    background: var(--bg-color);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .commonTab:first-child {
    margin-right: 0px;
  }
  .commonTab.isSelected {
    border-width: 0;
    background: #fefefe;
    color: var(--accent-color-primary);
  }
  .tabsList {
    justify-content: flex-start;
  }
  .tabsWrap {
    max-width: 665px;
    height: 626px;
    padding: 28px 30px 48px;
    background-color: var(--white-color);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 10px 60px 0px var(--main-shadow);
  }
  .wrapper {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
    margin-top: 0;
  }

  .tabsWrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1060px;
    height: 579px;
    padding: 33px 20px 61px;
  }
}
