html {
  font-size: '12px';
  line-height: 1.17;
  letter-spacing: '0.04em';
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: #ff751d #f5f6fb;
  scrollbar-width: '6px';
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #f5f6fb;
}

::-webkit-scrollbar-thumb {
  background: #ff751d;
  border-radius: 2px;
}

/* .simplebar-scrollbar::before {
  background-color: #ff751d;
}

.simplebar-scrollbar.simplebar-visible.simplebar-scrollbar::before {
  transform: none;
  opacity: 1;
  transition: none;
} */

/* .react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--accent-color-primary);
}

.react-datepicker__day--selected:hover {
  background-color: #f0f0f0;
  color: #000000;
} */
