@media screen and (max-width: 767px) {
  .overlay {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: 1200;
  }

  .modalWindow {
    max-width: 282px;
    margin: 0 auto;
  }
  .arrowBack {
    margin: 15px 0;
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }
}
