.select {
  color: #c7ccdc;
  border: none;
  outline-style: none;
  padding-right: 20px;
  padding-left: 20px;

  width: 188px;
  height: 40px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}
