.btn{
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color:#52555F;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    width: 125px;
    height: 44px;
    border: 2px solid rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-radius: 0px 22px 22px 0px;
    padding: 12px, 6px, 12px, 17px;
    cursor: pointer;
}

.btn:focus,
.btn:hover{
    background-color: rgba(255, 117, 29, 1);
    color: rgba(255, 255, 255, 1);
}

@media only screen
  and (min-width: 768px) {
    .btn{
        border-radius: 16px;
        padding: 12px, 6px;
    }
}